.gitconfig
.tig_history
.wakatime.cfg
.wakatmie.data
.wakatmie.db
.wakatime.log

.python_history
.DS_Store

.Rhistory
.zprofile
lib*

.zshenv
.config/github-copilot/hosts.json
*.log

Brewfile.lock.json

# Compiled
*.elc
*.bib
*.~undo-tree~
/.config/wezterm/
/.config/github-copilot/apps.json
/.config/git/
/.config/fish/
/.config/aquaskk/
/.config/nushell/
