.gitconfig
.tig_history
.wakatime.cfg
.wakatmie.data
.wakatmie.db
.wakatime.log

.python_history
.DS_Store

.Rhistory
.zprofile
lib*

.config/*

.config/nvim/*.json
.config/nvim/node_modules
.config/nvim/lazy-lock.json

!.config/nvim/*.lua
!.config/nvim/
!.config/fish
.config/fish/*
!.config/fish/config.fish
!.config/nvim/after/plugin/*.lua
!.config/wezterm
!.config/fish/config.fish
!.config/aquaskk
!.config/nix
.config/nix/result
!.config/karabiner/karabiner.json

.zshenv
.config/github-copilot/hosts.json
*.log

Brewfile.lock.json

.emacs.d/*
!.emacs.d/init.el
!.emacs.d/my-init.org
!.emacs.d/snippets/*
# Compiled
*.elc
*.bib
*.~undo-tree~
.config/nix/v:null
.config/nix/config.nix
/.config/nix/local.conf
/.config/nix/home-manager/programs/emacs/#init.org#
