.gitconfig
.tig_history
.wakatime.cfg
.wakatmie.data
.wakatmie.db
.wakatime.log

.python_history
.DS_Store

.Rhistory
.zprofile
lib*

.config/nvim/autoload/
.config/nvim/plugged/
.config/session/
.config/coc/
