snippet im
	import ${1:package/module}$0
snippet fim
	from ${1:package/module} import ${2:names}$0
snippet class
	class ${1:ClassName}(${2:object}):
		"""${3:docstring}"""
		def __init__(self, ${4:arg}):
snippet fn
	def ${1:fname}(${2:arg}):
		${3:pass}$0
snippet ipdb
	import ipdb;ipdb.set_trace()
